* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    max-width: 400px;
    margin: 0 auto;
    background-color: darkred;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    padding: 10px;
    color: aliceblue;
    text-decoration: none;
    border-radius: 4px;

}

nav a:hover {
    background-color: rgb(190, 189, 189);
}

main h1 {
    max-width: 840px;
    margin: 20px auto;
    text-align: center;
}

table {
    margin: 10px auto;
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    letter-spacing: 1px;
}

th,
td {
    border: 1px solid rgb(150 150 150);
    padding: 8px 12px;
    text-align: center;
}

thead tr,
tfoot tr {
    background-color: rgb(0 0 0);
    color: white;
    font-weight: 700;
    text-align: center;
}