:root {
    --light-color: #eee;
    --dark-color: black;
    --middle-color: rgb(184, 182, 182);
    --colorful: rgb(179, 83, 83);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
}

nav a {
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 20rem;
    align-items: center;
}

main {
    grid-column: 1;
    margin: 1rem;
}

aside {
    position: relative;
    grid-column: 2;
}

main h1 {
    color: var(--dark-color);
    text-align: center;
    border-bottom: solid black;
}

main h2 {
    text-align: center;
}

main img {
    float: right;
    width: 150px;
    display: block;
    height: auto;
    border: 1px solid var(--dark-color);
    padding: 2px;
    box-shadow: 0 0 30px var(--light-color);
    margin: 10px auto;
}

p {
    padding: 0;
    clear: both;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid var(--dark-color);
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 25px auto;
    border: 1px solid var(--dark-color);
    padding: 1rem;
    background-color: var(--middle-color);
    color: var(--light-color);

}