body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
    background-color: rgb(83, 83, 179);
    padding: 2px;
    width: 400px;
    margin: 0 auto;
    font-size: smaller;
    display: flex;
    gap: 10px;
    justify-content: center;
}

nav a {
    color: white;
    display: block;
    padding: 10px;
}

h1 {
    color: rgb(0, 0, 0);
    text-align: center;
}

h2 {
    text-align: center;
}

img {
    width: 150px;
    display: block;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    margin: 0 auto;
}

p {
    width: 400px;
    margin: 20px auto;
    text-align: justify;
}

footer p {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    font-size: smaller
}