:root {
    --light-color: #eee;
    --dark-color: black;
    --colorful: rgb(179, 83, 83);
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
    background-color: var(--colorful);
    padding: 2px;
    width: 400px;
    margin: 0 auto;
}

nav a {
    color: var(--light-color);
    display: block;
    padding: 10px;
}

main {
    max-width: 840px;
    text-align: justify;
    width: 400px;
    margin: 0 auto;
}

main h1 {
    color: var(--dark-color);
    text-align: center;
}

main h2 {
    text-align: center;
}

main img {
    width: 150px;
    display: block;
    height: auto;
    border: 1px solid var(--dark-color);
    padding: 2px;
    box-shadow: 0 0 30px var(--light-color);
    margin: 0 auto;
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    margin: 20px auto;
    border: 1px solid var(--dark-color);
    padding: 1rem;
    background-color: var(--light-color);
    color: var(--dark-color);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid var(--dark-color);
    text-align: center;
}